.btn {
	display: block;
	font-size: 15px;
	font-weight: 600;
	width: 100px;
	padding: 8px;
	border-radius: 5px;
	outline: none;
	background: none;
	color: white;
	border-style: hidden;
	box-shadow: 0px 0px 5px 2px white;
	cursor: pointer;
}

.submit {
	margin: 15px auto;
	margin-top: 40px;
}

.disabled {
	color: grey;
	border-style: groove;
	box-shadow: none;
	cursor: not-allowed;
}
